<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img class="c2g-image-logo" src="http://moec.com2go.co/assets/img/logo-ioic.jpg" alt="">
  </ion-navbar>
</ion-header>

<ion-content>

<ion-grid no-padding >
    <ion-row  *ngIf="data" no-padding>
        <ion-col *ngFor="let item of data" col-6>
            <ion-card no-padding >
                <img src="http://moec.com2go.co/{{item.value}} ">
                <ion-card-content >
                <ion-card-title>
                <h2 class="c2g-border">{{item.pagetitle}}</h2>
                </ion-card-title>
                <p>
                  {{item.longtitle | slice:0:150}}
                </p>
                </ion-card-content>
              <button class="c2g-button" (click)="ViewData(item.pagetitle)">Περισσότερα</button>

            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>



</ion-content>
