// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #f1b523 !important;
    background-color: transparent;
}

p{
  font-size: 12px !important;
  line-height: 1.4 !important;
}


h4 {
  font-weight: bold !important;
  font-size: 13px!important;
}

.c2g-image-logo{
  padding-left: 15%;
  padding-right: 20%;
}


.c2g-button{
  border: 1px solid #2c2c2c !important;
  background-color: transparent !important;
  color: #2c2c2c !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  margin: 15px;
}

h6{
  font-size: 12px !important;
}
